.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules
.pnp.*

.devenv*
devenv.local.nix
devenv.local.yaml

.direnv
.pre-commit-config.yaml
.next
dist
*.tsbuildinfo
/.dev
.playwright*
*.local.*
